In [26]:
from IPython.display import display, HTML
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from ipywidgets import *
import pandas as pd
pd.set_option('display.max_colwidth', -1)
import warnings
warnings.filterwarnings('ignore')
import string

In [27]:
# read in dataframe
sports_df = pd.read_csv('~/images.csv')
sports_df.head()

                 image_url   sport
0  coronavirus_cropped.jpg  header
1  coronavirus_cropped.jpg  footer
2  coronavirus_cropped.jpg  footer
3  coronavirus_cropped.jpg  header
4  coronavirus_cropped.jpg  header

In [28]:
def path_to_image_html(path):
    return '<img src="'+ path + '" style=max-height:124px;"/>'

In [29]:
def show_im():
    CSS = """
    .output {
        flex-direction: row;
    }
    """
    
    HTML('<style>{}</style>'.format(CSS))

In [30]:
sports_df.info

<bound method DataFrame.info of                  image_url   sport
0  coronavirus_cropped.jpg  header
1  coronavirus_cropped.jpg  footer
2  coronavirus_cropped.jpg  footer
3  coronavirus_cropped.jpg  header
4  coronavirus_cropped.jpg  header
5  coronavirus_cropped.jpg  footer
6  coronavirus_cropped.jpg  footer
7  coronavirus_cropped.jpg  header>

In [31]:
def image_viewer(grid_length, grid_width, sport):
    
    print(sports_df['sport'])
    
    images_df = sports_df[sports_df['sport'] == sport]  # filter by sport input
    image_grid = images_df['image_url']
    image_grid_size = grid_length + grid_width
    image_grid = image_grid.iloc[0:image_grid_size] # size of grid 
    image_grid = image_grid.as_matrix() #turn into matrix for reshaping
    image_grid = image_grid.reshape(grid_length, grid_width) 
    image_grid = pd.DataFrame(image_grid)
    image_grid.columns = list(string.ascii_lowercase[:len(image_grid.columns)])    
    image_grid_html = HTML(image_grid.to_html(escape=False ,formatters=dict(a=path_to_image_html, b=path_to_image_html)))    
    display(image_grid_html)
    show_im()

In [32]:
sport_list = ['header', 'footer']  # list of sports#define widgets
display_widget = widgets.Dropdown(options=sport_list)#create tabs
tab_nest = widgets.Tab()
tab_nest.set_title(0, 'Sports Images')#interact function in isolation
f1 = interactive(image_viewer, grid_length=2, grid_width=2, sport=display_widget);tab_nest.children = [VBox(children = f1.children)]
display(tab_nest)

Tab(children=(VBox(children=(IntSlider(value=2, description='grid_length', max=6, min=-2), IntSlider(value=2, â€¦

In [23]:
print(sports_df)

                 image_url   sport
0  coronavirus_cropped.jpg  header
1  coronavirus_cropped.jpg  footer
2  coronavirus_cropped.jpg  footer
3  coronavirus_cropped.jpg  header

In [59]:
sports_df.head()

                 image_url    sport
0  coronavirus_cropped.jpg   header
1  coronavirus_cropped.jpg   footer

In [60]:
sports_df.tail(2)

                 image_url    sport
0  coronavirus_cropped.jpg   header
1  coronavirus_cropped.jpg   footer

In [66]:
sports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
image_url    2 non-null object
sport        2 non-null object
dtypes: object(2)
memory usage: 160.0+ bytes

In [68]:
sports_df.shape

(2, 2)

In [69]:
sports_df.columns

Index(['image_url', 'sport'], dtype='object')

In [24]:
sports_df['sport']

0    header
1    footer
2    footer
3    header
Name: sport, dtype: object

In [25]:
sports_df['image_url']

0    coronavirus_cropped.jpg
1    coronavirus_cropped.jpg
2    coronavirus_cropped.jpg
3    coronavirus_cropped.jpg
Name: image_url, dtype: object